[Unit]
Description=WyzeSense2MQTT Hub
Documentation=https://github.com/raetha/wyzesense2mqtt
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/ws2m/hub
ExecStart=/opt/ws2m/hub/service.sh
Restart=always
KillSignal=SIGINT
Environment=WS2M_DATA_DIR=/opt/ws2m/data

[Install]
WantedBy=multi-user.target
