[Unit]
Description=Wyzesense via Mqtt
Documentation=https://www.github.com/ozczecho
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/wyze-mqtt
ExecStart=/opt/wyze-mqtt/service.sh
Restart=always

[Install]
WantedBy=multi-user.target
