# Pip requirements file
#

# WyzeSense2MQTT requirements
paho-mqtt
retrying
pyyaml
# Now includes custom WyzeSensePy library to resolve assertion error, issues #12, #17
#wyzesense

# Bridge Tool CLI Requirements
docopt
