[Unit]
Description=WyzeSense to MQTT Gateway
Documentation=https://www.github.com/raetha/wyzesense2mqtt
After=network.target

[Service]
Type=simple
WorkingDirectory=/wyzesense2mqtt
ExecStart=/wyzesense2mqtt/service.sh
Restart=always

[Install]
WantedBy=multi-user.target
