services:
  wyzesense2mqtt:
    container_name: wyzesense2mqtt
    hostname: wyzesense2mqtt
    image: ghcr.io/raetha/wyzesense2mqtt:${IMAGE_TAG:-latest}
    network_mode: bridge
    restart: unless-stopped
    tty: true
    stop_signal: SIGINT
    environment:
      TZ: "${TZ:-UTC}"
      WS2M_MQTT_HOST: "${WS2M_MQTT_HOST}"
      WS2M_MQTT_PORT: "${WS2M_MQTT_PORT:-1883}"
      WS2M_MQTT_USERNAME: "${WS2M_MQTT_USERNAME}"
      WS2M_MQTT_PASSWORD: "${WS2M_MQTT_PASSWORD}"
      WS2M_MQTT_CLIENT_ID: "${WS2M_MQTT_CLIENT_ID:-ws2m}"
      WS2M_MQTT_CLEAN_SESSION: "${WS2M_MQTT_CLEAN_SESSION:-false}"
      WS2M_MQTT_KEEPALIVE: "${WS2M_MQTT_KEEPALIVE:-60}"
      WS2M_SELF_TOPIC_ROOT: "${WS2M_SELF_TOPIC_ROOT:-ws2m}"
      WS2M_HASS_TOPIC_ROOT: "${WS2M_HASS_TOPIC_ROOT:-homeassistant}"
      WS2M_HASS_DISCOVERY: "${WS2M_HASS_DISCOVERY:-true}"
      WS2M_USB_DONGLE: "${WS2M_USB_DONGLE:-auto}"
      WS2M_LOG_LEVEL: "${WS2M_LOG_LEVEL:-INFO}"
    devices:
      - "${DEV_WYZESENSE:-/dev/hidraw0}:/dev/hidraw0"
    volumes:
      - "${VOL_CONFIG}:/app/data"
